@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quattrocento+Sans|Source+Sans+Pro|Lato|Mukta+Mahee');


body {
  font-family: 'sans-serif' ;
  margin: 0; 
  font-size: 14px;
  
}
.clear {
  clear: both;
}


nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding: 11.5px 0;
}
nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}
.top-left {
  display: inline-block;
}
.heart {
  padding: 0 23px;
  
}
.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}
.top-links li {
  display: inline-block;
  margin: 0 10px;
}
header {
  background-image: url(images/city-scape.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  padding-left: 20px;

}
#search-bar {
  display: inline;
  color: white;
}
#npm-logo {
  width: 10%;
  float: left;
  margin-right: 20px;
}
#search-bar form {
  margin: 0;
  padding: 0;
}
#search-bar input {
  background-color:rgb(31, 82, 111);
  border: 1px solid rgba(255, 255, 255, .2);
  color: white;
  font-size: 16px;
  margin: 0;
  padding: 14px 12px;
  width: 66%;
  float: left;
}
#search-bar button {
  float: left;  
  background-color:rgb(31, 82, 111);
  border: 1px solid rgba(255, 255, 255, .2);
  padding: 11.5px;
}
#search-bar a{
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 16px;
}
#hdr-lnk-right {
  padding: 10px 0;
  margin-left:2%;
  width: 10%;
  float: left;
}

#bear-logo {
  width: 3.5%;
  float: left;
  margin: 0;
}
#hdr-text {
  color: white;
  width: 45%;
  height: 330px;
  margin-left: 8%;
  margin-top: 45px;
}
#hdr-text h1 {
  font-family: Open Sans;
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
#hdr-text p {
  font-family: Open Sans;
  font-size: 18px;
  margin: 15px 0 35px;
  line-height: 23px;
}
#hdr-text a {
  font-size: 1.3em;
  color: white;
  text-decoration: none;
  background-color: rgb(240, 146, 51);
  padding: 8px 28px;
  border-radius: 30px;
}
#orgs {
  background-color: rgb(39, 53, 71);
  color: white;
  padding: 10% 0;
  margin: 0;
}
#content-orgs {
  width: 83%;
  margin: 0 auto;
}
#text-orgs {
  float: right;
  width: 42%;
  margin-left: 40px;
  margin-top: 30px;
}
#text-orgs h2 {
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -2px;
  margin: 0;
}
#text-orgs ul {
  padding-left: 18px;
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  margin-bottom: 30px;
}
#sign-up-orgs {
  font-size: 1.3em;
  color: white;
  text-decoration: none;
  background-color: rgb(203, 56, 55);
  padding: 8px 28px;
  border-radius: 30px;
  margin-bottom: 30px;
}
#text-orgs a{
  color: white;
  text-decoration: none;
}
#what-is-npm {
  background-image: url(images/forklift.svg);
  background-size: cover;
  height: 510px;
  position: relative;
}
#forklift {
  margin: 0;
  color: white;
  width: 29%;
  position: absolute;
  top: 110px;
  left: 120px;
}
#forklift h2 {
  font-weight: 300;
  font-size: 36px;
  margin: 0;
  letter-spacing: -2px;  
}
#forklift p {
  font-size: 15px;
  line-height: 22px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#forklift a {
  background-color: rgb(49, 68, 88);
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  padding: 8px 28px;
  border-radius: 30px;
}
#registry-text h2 {
  font-weight: 300;
  font-size: 36px;
  color: rgb(63, 68, 78);
  text-align: center;
  letter-spacing: -2px;
  margin: 70px 0 20px;
}
#registry-text p {
  font-family: Open Sans;
  font-size: 16px;
  color: #6d7986;
  text-align: center;
  margin: 0 0 25px;;

}
#col3 {
  width: 82%;
  margin: 0 auto;
}
.col {
  width: 23.7%;
  float: left;
  text-align: center;
  padding: 0 1%;
  margin: 10px auto;
}
.col-middle {
  margin: 10px 11%;
}
.col p {
  font-family: Open Sans;
  font-size: 16px;
  color: #6d7986;
}
.col h3 {
  color: rgb(63, 68, 78);
}
.col a {
  color: rgb(208, 74, 73);
  text-decoration: none;
}